@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  background: #f0f7f4;
}
::-webkit-selection {
  background: #f0f7f4;
}
::selection {
  background: #f0f7f4;
}

::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}
::-moz-color-swatch {
  border-radius: 5px;
  border: none;
}

* {
  --thumb-color: #6baf8d;
  --track-color: #232e33;
  --scrollbar-width: 14px;
  --scrollbar-border-radius: 3px;
  --scrollbar-thumb-border-width: 0px;
  --scrollbar-thumb-border-color: #232e33;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--track-color);
  border-radius: var(--scrollbar-border-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--thumb-color);
  border-radius: var(--scrollbar-border-radius);
  border: var(--scrollbar-thumb-border-width) solid
    var(--scrollbar-thumb-border-color);
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--thumb-color) var(--track-color);
  }
}
